.footerarea{
    background-color: #232F3E;
    width: 100%;
    min-height: 200px;
    color: whitesmoke;
}
.footerarea__top{
    background-color: #354558;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.footerarea__links{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}